html{
  width: auto;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  margin-top: 30px;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(255, 255, 255);
}
nav{
  top: 0px;
  padding-top: 5px;
  z-index: 1;
  position: fixed;
  width: 100%;
  font-style: oblique;
  color: rgb(255, 255, 255);
  background-color: rgb(246, 237, 110);
  overflow: hidden;
}
#Logo{
  padding: 0;
  box-sizing: border-box;
  display: inline;
  width: 12px;
}
#Logo img{
  margin-top: 10px;
}
#Logo li{
  box-sizing: border-box;
  margin-left: 7%;
}
#Logo li a{
  padding-top: 0px;
}
nav ul{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
nav li{
  float: left;
  /*padding: 14px 16px;*/
}
nav li a{
  display: inline-block;
  color: rgb(78, 146, 247);
  font-weight: 500;
  font-size:19px;
  text-align: center;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-right: 80px;
  margin-left: 40px;
  text-decoration: none;
}
li a:hover{
  color: black;
  font-weight: bold;
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: linear-gradient(to right, rgb(255, 0, 0) , rgb(247, 138, 138));
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.Main{
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 3%;
  background-color: white;
  border: 2%;
  border-width: thick;
  border-color: rgb(55, 117, 224);
  border-style: double;
}
.sub{
  margin-left: 5%;
  margin-right: 5%;
}
button{
  margin-top: 2%;
  margin-left: 40%;
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 display: inline-block;
 padding: 15px 80px;
 display: inline-block;
 color: white;
 text-decoration: none;
 background-color: rgba(3, 174, 255, 0.86);
 background-position: center;
 border-width: 0%;
 border: none;

}
button:hover{
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid rgb(9, 141, 249);
}
.Main h1{
	font-weight:500;
	text-align: center;
	margin:0;
	padding: 35px;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 2;

}

#user{
	font-size: 15px;

}

.Main fieldset {
    padding: 15px;
	margin: 15px;

}

.Main legend{
	font-size: 18px;
}

.Main mark{
	font: bold;
	background-color: rgb(90, 233, 35);
}
footer{
  float: left;
  background-color: white;
  width: 100%;
}
.motto h1{
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
  font-size: 36px;
  font-style: italic;
  border-bottom: 2px;
  border-bottom-style: solid;
  padding-bottom: 20px;
  border-bottom-color: rgb(246, 247, 3);
}
.lowImg{
  float: left;
  width: 25%;
  height: 10%;
}
.names{
  float: left;
  width: 20%;
}
.names h1{
  padding-top: 20px;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}
.names ul{
  list-style: none;
}
.names li{
  padding: 0.8%;
}
.names li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
}
.names1{
  float: left;
  width: 15%;
}
.names1 h1{
  padding-top: 20px;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}
.names1 ul{
  list-style: none;
}
.names1 li{
  padding: 0.8%;
}
.names1 li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
}
.names2{
  float: left;
  width: 20%;
}
.names2 h1{
  padding-top: 20px;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}
.names2 ul{
  list-style: none;
}
.names2 li{
  padding: 0.8%;
}
.names2 li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
}
.names3{
  float: left;
  width: 15%;
}
.names3 h1{
  text-decoration: none;
  padding-top: 20px;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}
.names3 ul{
  list-style: none;
}
.names3 li{
  padding: 0.8%;
}
.names3 li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
}
footer img{
  display: block;
  padding-top: 12px;
  padding-bottom: 55px;
  margin-left: 18%;
  max-width:280px;
  max-height:115px;
  width: auto;
  height: auto;
}
.Links{
  margin-left: 31.7%;
  margin-top: 2%;
  padding-bottom: 40px;
  float: left;
}
.Links a{
  color: black;
}
.Links a:hover{
  color: rgba(3, 174, 255, 0.86);
  font-weight: 400;
}
.Links p{
  display: inline-block;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  color: black;
}
